---

---

<nav>
	<ul>
		<li><a href="/" class="font-bold">Home</a></li>
		<li><a href="/photos" class="font-bold">Photos</a></li>
		<li><a href="/works" class="font-bold">Works</a></li>
		<li><a href="/contact" class="font-bold">Contact</a></li>
	</ul>
	<div class="toggle-btn">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/></svg>
	</div>
		
	<div class="dropdown-menu">
		<li><a href="/" class="font-bold">Home</a></li>
		<li><a href="/photos" class="font-bold">Photos</a></li>
		<li><a href="/works" class="font-bold">Works</a></li>
		<li><a href="/contact" class="font-bold">Contact</a></li>
	</div>

	<script>
		const toggleBtn = document.querySelector('.toggle-btn')! as HTMLElement
		const DropDownMenu = document.querySelector('.dropdown-menu')! as HTMLElement
		const toggleBtnIcon = document.querySelector('.toggle-btn svg')! as HTMLElement

		toggleBtn.onclick = function () {
			DropDownMenu.classList.toggle('open')
			toggleBtnIcon.classList.toggle('motion')
		}
	</script>
</nav>

<style>
svg {
	fill: white;
	width: 24px;
	
}
.toggle-btn svg {
	transform: rotate(0deg);
	transition: transform .2s ease-in-out;
}

.toggle-btn svg.motion {
	transform: rotate(90deg);
}

nav {
	width: 100%;
	height: 60px;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
nav ul{
	display: flex;
	gap: 2rem;
}
li {
	list-style: none;
}
.toggle-btn {
	margin: .5rem;
	cursor: pointer;
	display: none;
}

.dropdown-menu {
	display: none;
	position: absolute;
	right: 2rem;
	top: 80px;
	width: 300px;
	height: 0;
	opacity: 1;
<<<<<<< HEAD
	background: rgba(255, 255, 255, 0.2);
=======
	background: rgba(255, 255, 255, 0.4);
>>>>>>> 3ac37befe2d10ca7668be3495d8adcb21939830f
	backdrop-filter: blur(15px);
	border-radius: 10px;
	overflow: hidden;
	transition: height .8s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.dropdown-menu li:hover {
<<<<<<< HEAD
	background: rgba(255, 255, 255, 0.4);
=======
	background: rgba(255, 255, 255, 0.6);
>>>>>>> 3ac37befe2d10ca7668be3495d8adcb21939830f
}

.dropdown-menu.open {
	height: 220px;
}

.dropdown-menu li {
	padding: 0.7rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

/*responsive*/
@media(max-width: 992px) {
	nav ul {
		display: none;
	}

	.toggle-btn {
		display: block;
	}

	.dropdown-menu {
		display: block;
	}
}

</style>